@{
    ViewBag.Title = "Eposta onayla";
}
<!--Bu sayfa çalışıyor fakat çalıştığında shared teki hata sayfasına yönlendiriyor-->
<h2>Epostayı doğrula.</h2>
<div>
    <p>
        Epostanızı doğruladığınız için teşekkürler. Lütfen @Html.ActionLink("Giriş yapmak için buraya basın", "Giris", "Hesap", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
