@{
    ViewBag.Title = "Parola Sıfırlamayı Onayla";
}

<hgroup class="title">
    <h1>
        Parola sıfırlamayı onayla.
    </h1>
</hgroup>
<div>
    <p>
        Parolanız sıfırlandı. lütfen @Html.ActionLink("Giriş yapmak için basınız", "Login", "Hesap", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
