@{
    ViewBag.Title = "Şifre unuttum onaylama";
}

<hgroup class="title">
    <h1>Şifreyi unutma onayı.</h1>
</hgroup>
<div>
    <p>
        Şifrenizi resetlemek için emailinizi kontrol ediniz.
    </p>
</div>
	
